*{
    margin: 0;
    padding: 0;
    font-family:'Calibri',sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 60%; /* You can adjust the width as needed */
    justify-content: space-between;
}

.left, .right {
    width: 80%;
    padding: 20px;
    border: 2px;
    height: 280px;
    border-radius: 25px;
    margin-top: 40px;
} 

.left{
    border: 2px solid green;
    background: green;
    margin: 40px;
    
}

.right{
    border: 2px solid blue;
    background: blue;
    margin-left: 20px;
}

.container button{
    width: 30%;
    height: 25px;
    background: #494eea;
    color:  white;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}
.right button{
    width: 50%;
    height: 25px;
    background: #8283a1;
    color:  white;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}

#number1, #number2, #number3 {
    width: 100%; /* Reduce the width by 10px to account for padding */
    height: 29px;
    border-radius: 5px;
    padding: 5px; /* Add padding to the inside of the element */
}
#oeanswer,#calcanswer{
    color: white;
    font-size: 15px;
}
.error{
    border: 1px solid red; 
    animation: shake 0.1s linear 10, red-outline 1s 1;

}
.correct{
    border: 1px solid blue; 
    animation: green-outline 1s 1;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    1000%{
        transform: translateX(0);
    }
}
@keyframes red-outline {
    0%, 100% {
        border-color: red;
    }
}
@keyframes green-outline {
    0%, 100% {
        border-color: blue;
    }
}